:root{
    --page: #CCD8E0;
    --color_text: #0B2442;
    --color_h1: #4B8547;
    --color_h2: #213A1F;

    --color_accent: #72b16d;
    --color_hero: #8cb2b5dd;
    --color_row: #9dc19e;


    --margin_header: 20px 0;
}

* {
    margin: 0;
    padding: 0;
}


h1{
    font-family: "Contrail One";
    color: var(--color_h1);
    font-size: 55px;
}


h2, h3, legend, button{
    font-family: "Contrail One";
    color: var(--color_h2);
}

h2 {
    font-size: 30px;
}

h3, legend, button {
    font-size: 19px;
}

p, label, figcaption{
    font-family: "Kantumruy Pro";
    color: var(--color_text);
    font-size: 16px;
}

html{
    background-color: var(--page)
}

figcaption {
    text-align: center;
}

.img1 {
    padding: 10px;
    border: 3px solid var(--color_accent);
}


.row1 {
    text-align: center;
    padding: 20px;
    background-color: var(--color_row);
}

header {
    width: 100%;
    display: grid;
    grid-template: 150px/ 30% 70%;
    align-items: center;
    background-color: var(--color_text);
}

header img {
    justify-self: end;
    height: 110px;
    margin: 20px;
    grid-column: 1 / 2;

}

ul {
    grid-column: 2 / 3;
    display: flex;
    list-style-type: none;
}


li a {
    color: var(--color_accent);
    text-decoration: none;
    margin: 20px;
    font-size: 30px;

}


.hero {
    position: relative;
    margin: var(--margin_header);
}

.hero_img {
    margin: var(--margin_header);
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 110px;
    text-shadow:
    black 0 1px,
    black 1px 0,
    black -1px 0,
    black 0 -1px;
}

.hero article {
    width: 50%;
    height: 100px;
    background-color: var(--color_hero);
    position: absolute;
    top: 200px;
    left: 25%;
    text-align: center;
    padding: 7px;
}

.hero article img {
    position: relative;
    bottom: 0;
    height: 75px;
    width: auto;
    margin: 10px;
    float: right;
    border: 1px solid black;
}




form {
    display: grid;
    width: 60%;
    margin: 30px auto 20px;

}

.form_home {
    grid-template-columns: 4fr 4fr 1fr;
}


form h2{
    text-align: center;
    margin: 10px;
    grid-column: 1 / -1;
}

fieldset {
    display: grid;
    padding: 10px;
    margin: 10px;
    grid-template-columns: 1fr 2fr;
    border: 2px solid var(--color_accent);
}

input {
    margin: 5px;
    padding: 10px;
}

.form_home p {
    grid-column: 1 / -1;
    text-align: center;
}

.form_contact label, form p {
    text-align: right;
    align-self: center;
    margin: 10px;
}

textarea {
    margin: 15px 5px;
    height: 100px;
}

.check {
    height: 40px;
    width: auto;
    align-self: center;
    justify-self: start;
}

.form_contact button {
    grid-column: span 2;
    background-color: var(--color_row);
    height: 3.5em;
    margin: 5px;
}

.form_home button{
    margin: 5px;
    background-color: var(--color_row);
}

button:hover {
    font-weight: bold;
    background-color: var(--color_accent);
}


.link {
    padding: 10px;
    background-color: var(--color_row);
    text-align: center;
    margin: 40px 0;
}

.link a {
    text-decoration: none;
    font-size: 20px;
}

.home_info {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 80%;
    margin: auto;
    grid-gap: 10px;
    box-sizing: border-box;
    text-indent: 1.3em;
}

.home_info img {
    height: 175px;
    place-self: center;
}





.history {
    margin: var(--margin_header);
    display: grid;
    grid-template: 75px 200px / 2fr 1fr 2fr;
    grid-row-gap: 20px ;
}

.history h2 {
    grid-column: 1 / 4;
}

.history img {
    width: 100px;
    height: auto;

    margin: 10px;
    grid-area: 2 / 2 / 3 / 3;
    place-self: center;
}

#p_left {
    grid-area: 2 / 1 / 3 / 2;
    place-self: center;
    margin: 20px;
}

#p_right {
    grid-area: 2 / 3 / 3 / 4;
    place-self: center;
    margin: 20px;
}


.adventure {
    display: grid;
    grid-template: 75px 200px / 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 20px ;
}


.adventure h2 {
    grid-column: 1 / 6;
}

.adventure figure {
    margin: 0;
    padding: 0;
    text-align: center;
}

.adventure img {
    width: 200px;
    height: auto;
    margin: 5px;
}


footer {
    margin: var(--margin_header);
    display: grid;
    grid-template: 75px / 1fr 2fr 1fr;
}

.wireframe {
    grid-column: 1 / 2;
    margin: auto;
}

footer p{
    place-self: center;
    grid-column: 2 / 3;

}

footer img {
    margin: 10px;
    width: 50px;
    height: auto;
}

.social {
    grid-column: 3 / 4;

}

footer a {
    text-decoration: none;
}

.contact_h1 {
    text-align: center;
    margin: 1em;
}

.info {
    display: grid;
    grid-template: auto auto / 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 20px;
    box-sizing: border-box;
    padding: 10px;
    border: 3px solid var(--color_accent);
}


.info h2 {
    grid-column: 1 / 5;
    text-align: center;
    padding: 20px;
    background-color: var(--color_row);
}

.info article {
    background-color: var(--color_row);
    text-align: center;
}

.info h3, p{
    margin: 1.1em;
}

iframe {
    margin: 10px;
    width: auto;
    height: auto;
    border: 0;
}

.images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.images img {
    width: auto;
    height: 200px;
}

